.topi {
  width:;
  height:px;
}
body {
}
.lk {
  color:#162c51;
  margin: 50px;
}
h1 {
  font-family: fantasy;
  text-align: center;
}
#b {
  font-family: serif;
  text-align: center;
  text-shadow: 2px 4px black;
  color: white;
  text-decoration: underline;
  margin:20px;
}
#sharp {
  float:right;
  margin-left: 5px;
  border: 1px solid blue;
  border-radius: 15px;
}
.p {
  font-size: 18px;
}
#foot{
  text-align: center;
}
