.topi {
  width:;
  height:;
}
body {
}
.lk {
  color:#162c51;
  margin: 50px;
}
h1 {
  font-family: fantasy;
  text-align: center;
}
#b {
  font-family: serif;
  text-align: center;
  text-shadow: 1px 1px black;
  color: #e03431;
  text-decoration: underline;
  margin:20px;
}
#sharp {
  float:right;
  margin-left: 5px;
  border: 1px solid blue;
  border-radius: 15px;
}
.p {
  font-size: 18px;
}
#foot{
  text-align: center;
}
#o {
   opacity: 0.75;
}
#tk {
  opacity: 75%;
  width: 40%;
  float:left;
  margin-right: 20px;
}
.k {
  color: white;
}
h2 {
  text-decoration: underline;
}
